<p id="notice"><%= notice %></p>

<h1>Listing Commodoties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Quantitysold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commodoties.each do |commodoty| %>
      <tr>
        <td><%= commodoty.name %></td>
        <td><%= commodoty.description %></td>
        <td><%= commodoty.cost %></td>
        <td><%= commodoty.price %></td>
        <td><%= commodoty.quantity %></td>
        <td><%= commodoty.quantitySold %></td>
        <td><%= link_to 'Show', commodoty %></td>
        <td><%= link_to 'Edit', edit_commodoty_path(commodoty) %></td>
        <td><%= link_to 'Destroy', commodoty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commodoty', new_commodoty_path %>
