<p id="notice"><%= notice %></p>

<p>
  <strong>Quanxcomm:</strong>
  <%= @salexcomm.quanxcomm %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @salexcomm.subtotal %>
</p>

<%= link_to 'Edit', edit_salexcomm_path(@salexcomm) %> |
<%= link_to 'Back', salexcomms_path %>
